.topo_nave {
  overflow: hidden;
  background-color: none;
  width: none;
  height: none;
}

.topo_nave a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
  background-color: none;
}

.topo_nave :hover {
    background-color: none;
}

.topo_nave .bar_menu .icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .topo_nave a:not(:first-child) {display: none;}
  .topo_nave a.icon {
    float: right;
    display: block;
    background-color: red;
    border-radius: 1%;
    
}
.bar_menu {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
    }
}
  .topo_nave.responsive a{
    float: none;
    display: block;
    text-align: top;
}
	
body{
  background-color: none;
  font-family: serif;
}

.id_t {
   text-transform: uppercase;
   padding: 1px 16px;
   font-family: algerian, courier;
}

button {
  border-radius: 8px;
  float: left;
}
.aviso {
	color: red;
}

.hex_editor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-collapse: collapse;
  background-image: url("logotipo_hack.png");
}
.crew0 {
  width: 400px;
  height: 400px;
  background-image: url("0.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-collapse: collapse;
}
.crew1 {
  width: 400px;
  height: 400px;
  background-image: url("1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-collapse: collapse;
}
.txt {
  position: relative;
  top: -42%;
  color: black;
  font-size: 10px;
  font-family: serif;
  width: 250px;
  height: 320px;
 }
.area {
  font-size: 10px;
  font-family: serif;
  color: #2E3134;
  text-shadow: 3px 3px 3px #FFAEEE;
  position: relative;
  float: left;
  top: 18%;
  word-spacing: none;
}
.vd {
  border-radius: 8px;
  width: 99%;
}
th {
  font-size: 100%;
  font-family: serif;
  width: 22%;
  height: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: top;
}
